header {
    background: $dark-blue;
    margin-bottom: 4.8rem;
    padding: $m-size 0;
    color:white;
}
.header-container{
    margin: 0 auto;
    padding: 0 $m-size;
}
h1{
    color:white;
    font-weight: bold;
    margin:0;
}


